@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.notFound {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: rem(5);
}

.number {
  font-weight: 800;
  font-size: rem(150);
  line-height: rem(183);
  letter-spacing: 0.2em;
  color: #ffffff;
  text-align: center;
  text-shadow: -0 rem(-1) 0 #000000, 0 rem(-1) 0 #000000, -0 rem(1) 0 #000000,
    0 rem(1) 0 #000000, rem(-1) -0 0 #000000, rem(1) -0 0 #000000,
    rem(-1) 0 0 #000000, rem(1) 0 0 #000000, rem(-1) rem(-1) 0 #000000,
    rem(1) rem(-1) 0 #000000, rem(-1) rem(1) 0 #000000, rem(1) rem(1) 0 #000000,
    rem(-1) rem(-1) 0 #000000, rem(1) rem(-1) 0 #000000,
    rem(-1) rem(1) 0 #000000, rem(1) rem(1) 0 #000000;
}

.text {
  font-weight: 600;
  font-size: rem(48);
  line-height: rem(60);
  text-align: center;
  color: $lightBlack;
  text-transform: uppercase;
}

.link {
  margin-top: rem(75);
  font-weight: 500;
  font-size: rem(36);
  line-height: rem(40);
  display: flex;
  align-self: center;
  text-align: center;
  color: $lightBlack;
  border: rem(1) solid #171717;
  border-radius: rem(24);
  -webkit-border-radius: rem(24);
  -moz-border-radius: rem(24);
  -ms-border-radius: rem(24);
  -o-border-radius: rem(24);
  padding: rem(30) rem(70);
}
