@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.footer {
  margin-top: rem(50);
  flex: 0 0 auto;
}

.wrapper {
  justify-content: space-between;
  gap: rem(15);
  padding: rem(20) 0;
}

.line {
  width: 100%;
  height: rem(1);
  background-color: #d9d9d9;
}
