@use "sass:math";
@import "../../assests/scss/mixins";
@import "../../assests/scss/variables";

.consultationBlock {
  margin-top: rem(145);
}

.list {
  margin-top: rem(30);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(330), 1fr));
  gap: rem(30);
}
